.variables {
  justify-content: center;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-template-areas: "c result result result";
}
#result {
  grid-area: result;
  background: rgb(91, 120, 77);
  border: solid 1px rgb(135, 194, 124);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
}
button {
  background: rgb(91, 170, 77);
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  border: solid 1px rgb(135, 194, 124);
}
button:hover {
  background: rgb(10, 440, 10);
}
.symbol {
  background: rgb(120, 185, 109);
  border: solid 1px rgb(135, 194, 124);
  color: black;
  font-size: 35px;
}
.symbol:hover {
  background: rgb(2, 108, 55);
}
